body {
    font-family: Roboto, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 32px;
    color: #007bff;
    margin-bottom: 20px;
    max-width: 80%;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

th {
    background-color: #007bff;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

#button {
    padding: 20px 30px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}