header.container {
    height: 80px;
    border-bottom: solid;

}
.container.hero-scene {
    height: 80vh;
    background-color: lightgrey;
}

.container.features {
    padding: 40px 0;
}

.feature-card {
    border: 1px solid #000000;
    border-radius:10px;
    padding: 40px;
    transition: all ease .3s;
}
.feature-card:hover {
    transform: scale(1.05)
}




/*.row {*/
/*    height: 50px;*/
/*    background-color: orange;*/
/*}*/

/*.column {*/
/*    background-color: blue;*/
/*}*/

