@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

* {
    background-image: url(/images/pexels-miguel.jpg);
    background-position: center;
    background-size: 1500px;
    box-sizing: border-box;
    background-color: floralwhite;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding:20px;
    font-family: Roboto, sans-serif;
}

h1, h2, h3 {
    font-family: Roboto, sans-serif;
    color: green;
    text-decoration: underline;
}

.header1 {
    font-size: 50px;
    background: #f1f1f1;
    margin-bottom: 0px;
    transition: all ease 5s;
    font-weight: 100;
    text-align: center;
    color: purple;
    /*transition: all ease .3s;*/
}

.text-center {
    text-align: center;
}

.features-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    /*background-image: -ms-radial-gradient(circle + initial);*/
}

.features-container ul li:nth-child(2) {
    color: blue;
}

.tables {
    border: 1px solid black;
    padding: 10px;
    border-spacing: 10px;
    /*border-collapse: collapse;*/
    font-family: "American Typewriter", sans-serif;
    font-size: 10px;
}


.a:hover {
    color: red; /* sets the color of links when the mouse is over them */
    text-decoration: underline; /* adds underline to links when the mouse is over them */
}

.a:active {
    color: green; /* sets the color of links when they are being clicked */
}

.image-container {
    display: flex;
    flex: 1 1 25%;
    justify-content: left;
    align-items: normal;
    flex-wrap: wrap; /* allows the images to wrap to a new line if necessary */
    max-width: 25%;
    child-align: left;
    margin: 10px;
}
